@font-face {
    font-family: "poppin-Bold";
    src: url(fonts/Poppins-BoldItalic.ttf);
}

@font-face {
    font-family: "poppin-medium";
    src: url(fonts/Poppins-Medium.ttf);
}


body {
    background-color: #ffffff; 
    color: #333; 
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#quizContainer {
    background-color: #b8e893; 
    border: 1px solid #86948f; 
    border-radius: 8px;
    padding: 20px;
    color: #07193d; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    margin: 20px;
    line-height: 1.5;
}

#resultsContainer {
    background-color: #86948f; 
    border: 1px solid #86948f;
    border-radius: 8px;
    padding: 20px;
    color: #07193d;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 30px;
}

#timer {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 20px;
    color: #07193d;
    font-family: "poppin-bold";
}

input {
    margin: 0px 15px;
    border-radius: 5px;
    border: 2px solid #07193d; 
    padding: 5px;
}

.heading {
    font-size: 2.2em;
    font-weight: 700;
    color: #ffffff; 
    background-color: #86948f;  
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 15px 20px ;
    font-family: "poppin-bold";
}

button {
    background-color: #86948f; 
    border-color: #577abc; 
    color: #ffffff; 
    border-radius: 5px;
    padding: 8px 15px;
    margin: 5px;
    font-size: 1em;
    font-family: "poppin-bold";
}

button:hover {
    background-color: #b8e893; 
    border: 3px solid #86948f;
    color: black;
}

button:focus {
    outline: none;
}

.disable:disabled {
    background-color: #dbe3d6; 
    border-color: #b7c1be;
    color: #888; 
    cursor: not-allowed;
}

h3 {
    color: #07193d;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 1.3em;
    font-family: "poppin-bold";

}

label {
    display: flex;
    align-items: center; 
    font-size: 16px;
    margin-bottom: 5px;
    color: #07193d; 
    background-color: #f2f2f2; 
    padding: 8px;
    border-radius: 5px;
    font-family: "poppin-medium";
}

h4 {
    color: white; 
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 1.2em;
    text-align: center;
    font-family: "poppin-bold";
}

.para {
    font-size: 15px;
    color: white; 
    font-family: "poppin-medium";
}

span {
    font-size: 16px;
    color: #b8e893;
    font-weight: bold;
    font-family: "poppin-bold";
}

@media (max-width: 480px) {
    h3 {
        font-size: 1em;
    }
    #timer {
        font-size: 1.3em;
    }
    label {
        font-size: 12px;
    }
    h4 {
        font-size: 1em;
    }
    .para {
        font-size: 14px;
    }
    span {
        font-size: 16px;
    }
    .heading{
        font-size: 1.7em;
    }
}

.restart {
    background-color: #92be6f; 
    border: 1px solid black; 
    color: #ffffff; 
    border-radius: 5px;
    padding: 8px 15px;
    margin: 5px;
}

.restart:hover {
    background-color: #7fb453;
    border: 2px solid #feffff;
    color: black;
}

.restart:focus {
    outline: none;
}

.restartBtn {
    text-align: center;
}

.result {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    color: white; 
    font-family: "poppin-bold";
}

input[type="radio"].option {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #07193d; 
    background-color: #ffffff;
    margin-right: 15px;
    margin-top: 2px;
    position: relative; 
}

input[type="radio"].option:checked {
    border: 2px solid #07193d; 
    background-color: #ffffff;
}

input[type="radio"].option:checked::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #2b413a; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.color{
    background-color: black;
}
